$sharkCityGray: #555353;
$snowWhite: #e3e3e3;
$nox: #1b1b1b;

body {
  background-image: radial-gradient($sharkCityGray, $snowWhite);
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: $snowWhite;
  align-self: center;
  font-size: 28px;
  font-family: papyrus;
}

.header {
  background-color: $nox;
  margin-top: -21px;
}

.topPic {
  margin-bottom: 20px;
  clear: both;
}

.search {
  background-color: $snowWhite;
  border: $snowWhite;
  color: $sharkCityGray;
  border-radius: 1px;
  font-size: 18px;
  text-align: left;
  width: 99%;
  padding: 5px;
  font-family: palatino;
}

.boxes {
  position: fixed;
  display: inline-block;
  text-align: center;
  left: 7%;
  margin: 0 auto;
  width: 85%;
  margin-top: 1%;
}

.box {
  background: $sharkCityGray;
  height: 70px;
  width: 100%;
  margin: 5px;
  color: $snowWhite;
  font-size: 43px;
  text-decoration: none;
  font-family: papyrus;
}

.box:hover {
  background: $snowWhite;
  color: $nox;
  cursor: pointer;
}

.bottomPic {
  width: 35px;
  height: 35px;
  bottom: 5px;
  position: fixed;
  right: 2px;
  margin-right: 20px;
}

.copyright {
  clear: both;
  float: left;
  color: $snowWhite;
  margin-left: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $nox;
  color: $snowWhite;
  text-align: center;
  font-family: palatino;
}

.back {
  color: $snowWhite;
  position: fixed;
  font-size: 15px;
  margin: 3px;
  left: 5px;
  padding: 15px;
  border-radius: 10%;
  text-decoration: none;
  cursor: pointer;
  border: $nox;
  background-color: $nox;
}

.back:hover {
  transform: scale(0.85);
  background: $snowWhite;
  color: $nox;
}

.body {
  text-align: left;
  position: fixed;
  margin: 10px;
  margin-top: 40px;
  padding: 5px;
  font-family: palatino;
}

.name {
  margin-top: 60px;
  font-family: papyrus;
}

.Aboutname {
  margin-top: 10px;
  text-align: center;
  font-family: papyrus;
}

.map {
  margin-top: -10px;
}

.locationBody {
  margin-bottom: 80px;
}

#line {
  background-color: $snowWhite;
  padding: 1px;
}

.list {
  text-align: left;
  font-family: palatino;
}

.ticketPurchase {
  text-align: center;
  margin: 10px auto;
}

th,
tr,
td {
  border: 2px solid $snowWhite;
  padding: 5px;
  font-size: 18px;
  border-radius: 10px;
  font-family: palatino;
}

table {
  border-spacing: 50px;
}

.bar,
td {
  background-color: $snowWhite;
}

td {
  width: 100%;
}

.buy {
  background-color: $sharkCityGray;
  color: $nox;
  border: none;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.buy:active {
  transform: scale(0.9);
  color: $nox;
  background-image: radial-gradient($snowWhite, $sharkCityGray);
}

.plansBody {
  margin-bottom: 30px;
}

#photo {
  width: 95%;
  height: 20%;
  text-align: center;
  margin: 2 auto;
}

.animalBody {
  margin-bottom: 60px;
}

.socialLink {
  display: none;
}

.boxText {
  display: none;
}

.ticketImage {
  display: none;
}

@media screen and (min-width: 900px) {
  h1 {
    float: left;
    margin-top: 55px;
    margin-left: 15px;
    font-size: 50px;
  }
  .header {
    height: 150px;
  }
  .topPic {
    float: right;
    clear: none;
    width: 80px;
    height: 80px;
    margin: 30px;
  }
  .search {
    width: 150px;
    float: right;
    margin-top: 120px;
    margin-right: -130px;
    border-radius: 25px;
  }
  .bottomPic {
    float: none;
    margin: 0 auto;
    position: static;
    margin-top: 8px;
    margin-right: -140px;
  }
  .socialLink {
    display: block;
    width: 35px;
    float: right;
    padding: 5px;
  }
  .footer {
    height: 50px;
  }
  .copyright {
    margin: 0 auto;
    margin-top: -25px;
    margin-left: 10px;
  }
  .boxes {
    display: table;
    border-spacing: 25px;
    width: 100%;
    margin: 0;
    position: static;
    margin-bottom: 20px;
  }
  .box {
    display: table-cell;
    border-radius: 25px;
    padding: 5px;
    width: 800px;
    height: 250px;
  }
  .boxText {
    display: block;
    font-family: palatino;
    font-size: 18px;
    line-height: 200%;
  }
  .aboutText {
    font-size: 25px;
    line-height: 200%;
  }
  h3 {
    font-size: 20px;
  }
  .name {
    font-size: 50px;
  }
  h4 {
    font-size: 25px;
  }
  .list {
    font-size: 18px;
    line-height: 200%;
    margin-left: 39%;
  }
  .locationText {
    font-size: 20px;
  }
  .ticketPurchase {
    float: left;
    margin-left: 80px;
    margin-top: 50px;
  }
  .ticketImage {
    margin: 0 auto;
    display: block;
    float: right;
    color: $snowWhite;
    background-color: $sharkCityGray;
    width: 600px;
    margin-right: 30px;
    margin-top: 50px;
    border-style: double;
    border-radius: 5px;
  }
  .info {
    background-color: $nox;
    color: $snowWhite;
    border: $snowWhite;
    border-style: double;
    width: 40%;
  }

  #photo {
    display: table-cell;
    border-radius: 25px;
    float: left;
    padding: 15px;
    width: 200px;
    height: 200px;
  }
  .animalTable {
    text-align: center;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }
  .animalTable::after {
    text-align: center;
    clear: both;
    display: table;
  }
  .left {
    margin-left: 80px;
  }
  .width {
    padding: 30px;
  }
}
